<a href="https://colab.research.google.com/github/DanB1421/DanB1421/blob/main/Brilliant_HW_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## DATA 601 - Fall 2022
### Homework Assignment 1
Total points : (30 + 10)<br>
 Please provide your solutions into the cells provided after question cells. You can create new cells as needed. <br>

Please return your notebook (by uploading as a *.ipynb file) via Blackboard. The name of your notebook should be in the following format: YourLastname_HW01.ipynb (e.g. Borle_HW01.ipyn).

Make sure that your code is in a working condition when you restart the kernel. Notebooks are great tools for exploration but we should be very careful as we are writing codes.

<b>Intro:</b> For this homework, you will install a module called "names". Please visit [https://pypi.org/project/names/](https://pypi.org/project/names/) to learn how to use this module to create random names. To install and import this "names" module, we do the following

In [ ]:
!pip install names

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting names
  Downloading names-0.3.0.tar.gz (789 kB)
     |████████████████████████████████| 789 kB 7.8 MB/s
Building wheels for collected packages: names
  Building wheel for names (setup.py) ... done
  Created wheel for names: filename=names-0.3.0-py3-none-any.whl size=803699 sha256=f3a03bac96c1a0e3d17abf821968b3e1da5deb34773ee03d6dc091efe9421970
  Stored in directory: /root/.cache/pip/wheels/05/ea/68/92f6b0669e478af9b7c3c524520d03050089e034edcc775c2b
Successfully built names
Installing collected packages: names
Successfully installed names-0.3.0

Q1. [<span style="color: red;">10 points</span>] After successful installation, import the module first, then use the "get_first_name" function in the "names" module and create a list of 10 first-names. Name of this list should be "fname". Similarly, use  the "get_last_name" function from the same module and create a list of 10 last-names (list name should be "lname").
- (i) Print your list and make sure that you indeed have 10 names in your lists.
- (ii) Remove the first "last-name" from your "lname" list.
- (ii) Insert a new last-name between the second-last and last items in the "lname" list.
- (iv) Add a first-name to the end of "fname" and remove the first item in the same list.
- (v)  Generate three random first names, print them, and then add three first names at the end of your "fname" list using the "append" command.

In [ ]:
# Your answers go here
import names

In [ ]:
fname = []

for i in range(10):
    firstname = names.get_first_name()
    fname.append(firstname)

print(fname)

['Willie', 'Michael', 'Gary', 'Margaret', 'Raymond', 'Nancy', 'Charlie', 'Casandra', 'Helen', 'Arleen']

In [ ]:
lname = []

for i in range(10):
    lastname = names.get_last_name()
    lname.append(lastname)

print(lname)

['Tobey', 'Rudzik', 'Griffie', 'Mahoney', 'Irizarry', 'Williams', 'Warren', 'Janssen', 'Willoughby', 'Boyer']

In [ ]:
lname.pop(0)
print(lname)

['Rudzik', 'Griffie', 'Mahoney', 'Irizarry', 'Williams', 'Warren', 'Janssen', 'Willoughby', 'Boyer']

In [ ]:
lname.insert(8, names.get_last_name())
print(lname)

['Rudzik', 'Griffie', 'Mahoney', 'Irizarry', 'Williams', 'Warren', 'Janssen', 'Willoughby', 'Sawyer', 'Boyer']

In [ ]:
fname.insert(10, names.get_first_name())
fname.pop(0)
print(fname)

['Michael', 'Gary', 'Margaret', 'Raymond', 'Nancy', 'Charlie', 'Casandra', 'Helen', 'Arleen', 'Jean']

In [ ]:
fname_2 = names.get_first_name()
fname_3 = names.get_first_name()
fname_4 = names.get_first_name()

print(fname_2)
print(fname_3)
print(fname_4)

fname.append(fname_2)
fname.append(fname_3)
fname.append(fname_4)

print(fname)

Kimberly
Carrie
Daryl
['Michael', 'Gary', 'Margaret', 'Raymond', 'Nancy', 'Charlie', 'Casandra', 'Helen', 'Arleen', 'Jean', 'Kimberly', 'Carrie', 'Daryl']

Q2. [<span style="color: red;">10 points</span>] Below is a nested list.

In [ ]:
my_list = ["Adam","Sam","Maddy",["Joel","Adam","Harvey","Adam"],"James","Adam",["Jordan","Nico",["Adam","Valtteri","Oscar","James"]]]

Write code to find out all the times a given name occurs in the above list (including nested lists). For example James occurs twice, once in the main list and once in a nested list. You are allowed to write multiple nested loops. You have the freedom of using various different list methods as you see fit here. <br>
Q2 (a) <b>BONUS  SUB-QUESTION</b> [<span style="color: red;">10 points</span>] Return the location (index) of each occurrence of the name, which means it can be a nested location (i.e for Valtteri it would be 6,2,1 or [6][2][1])

In [ ]:
# Your answers go here
flat_list = []

for item in my_list:
    if 'list' in str(type(item)):
        for name in item:
            flat_list.append(name)
    else:
        flat_list.append(item)

print(flat_list)

flatter_list = []

for item in flat_list:
    if 'list' in str(type(item)):
        for name in item:
            flatter_list.append(name)
    else:
        flatter_list.append(item)

print(flatter_list)

flatter_list.count('Adam')

['Adam', 'Sam', 'Maddy', 'Joel', 'Adam', 'Harvey', 'Adam', 'James', 'Adam', 'Jordan', 'Nico', ['Adam', 'Valtteri', 'Oscar', 'James']]
['Adam', 'Sam', 'Maddy', 'Joel', 'Adam', 'Harvey', 'Adam', 'James', 'Adam', 'Jordan', 'Nico', 'Adam', 'Valtteri', 'Oscar', 'James']

5

In [ ]:
indices = []

for i in range(len(my_list)):
    if my_list[i]=="Adam":
        indices.append(i)

for i in range(len(my_list)):
    for j in range(len(my_list[i])):
        if my_list[i][j]=="Adam":
            indices.append([i,j])

for i in range(len(my_list)):
    for j in range(len(my_list[i])):
        for k in range(len(my_list[i][j])):
            if my_list[i][j][k]=="Adam":
                indices.append([i,j,k])

print(indices)

[0, 5, [3, 1], [3, 3], [6, 2, 0]]

Q3. [<span style="color: red;">5 points</span>] For this step, you will use the "<code>randint</code>" function from the "<code>random</code>" module to create random integers. You can learn more about this module at [https://docs.python.org/3/library/random.html](https://docs.python.org/3/library/random.html). To import the "<code>randint</code>" function from the "<code>random</code>" module, please type <code> from random import randit</code> in a cell, and press shift+enter.

Then
 - (i) Create 10 random birth-years between 1950 and 2021. Name it "byears".
 - (ii) Create 10 random birth-months between 1 and 12. Name it "bmonths".
 - (iii) Create 10 random birth-days between 1 and 31. Name it "bdays". Replace the random integer if it is not realistic, according to "bmonths" (e.g. February 29, June 31, etc).
 - (iv) Create 10 random Credit-Scores between 100 and 800. Create a list of "CreditApproval" with "Yes" if the credit-score is higher than 650, "No" otherwise. Make sure that someone can't get a credit if they are 17 years old or younger, even if their credit-score is higher than 650.

In [ ]:
# Your answers go here
from random import randint

byears = []

for i in range(0,10):
    n = randint(1950, 2021)
    byears.append(n)

print(byears)

[1982, 1963, 1962, 1994, 1951, 1986, 1995, 1977, 1974, 1981]

In [ ]:
from random import randint

bmonths = []

for i in range(0,10):
    n = randint(1,12)
    bmonths.append(n)

print(bmonths)

[12, 1, 9, 3, 3, 4, 1, 10, 10, 10]

In [ ]:
from random import randint

bdays = []

for i in range(0,10):
    n = randint(1,31)
    if bmonths[i] == 4 or bmonths[i] == 6 or bmonths[i] == 9 or bmonths[i] == 11:
        if n == 31:
            m = randint(1,30)
            bdays.append(m)
        else:
            bdays.append(n)
    elif bmonths[i] == 2:
        if n > 28:
            l = randint(1,28)
            bdays.append(l)
        else:
            bdays.append(n)
    else:
        bdays.append(n)

print(bdays)

[18, 12, 25, 23, 1, 20, 21, 21, 25, 3]

In [ ]:
from random import randint

CreditApproval = []

for i in range(0,10):
    n = randint(100,800)
    if n > 650:
        if 2022 - byears[i] <= 17:
            CreditApproval.append("No")
        else:
            CreditApproval.append("Yes")
    else:
        CreditApproval.append("No")

print(CreditApproval)

['No', 'Yes', 'No', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'No']

 Q4. [<span style="color: red;">5 points</span>] Create a list of dictionaries called "ourdb" for these 10 people with first-name, last-name (again, you will need to use the <code>names</code> module to create random first and last names (again)), birth-year, birth-month, birth-day, CreditApproval (e.g. [fname: Michael, lname: Jackson, byear: 1958, bmonth: 8, bday: 29, creditapproval:yes],[...])<br>
 Then save "ourdb" as a json file.

In [ ]:
# Your answers go here

first_name = []

for i in range(10):
    firstname = names.get_first_name()
    first_name.append(firstname)

print(first_name)

['Rose', 'Samantha', 'Janie', 'Jennie', 'Alden', 'Danielle', 'Paul', 'Mary', 'Dalia', 'Edward']

In [ ]:
last_name = []

for i in range(10):
    lastname = names.get_last_name()
    last_name.append(lastname)

print(last_name)

['Sloan', 'Veltman', 'Wheeler', 'Hurley', 'Pittman', 'Farrow', 'Chen', 'Schubert', 'Bello', 'Hughes']

In [ ]:
ourdb = []

for i in range(0,10):
    mydict = {'fname':first_name[i], 'lname':last_name[i], 'byear':byears[i],'bmonth':bmonths[i], 'bday':bdays[i], 'creditapproval':CreditApproval[i]}
    ourdb.append(mydict)

print(ourdb)

[{'fname': 'Rose', 'lname': 'Sloan', 'byear': 1982, 'bmonth': 12, 'bday': 18, 'creditapproval': 'No'}, {'fname': 'Samantha', 'lname': 'Veltman', 'byear': 1963, 'bmonth': 1, 'bday': 12, 'creditapproval': 'Yes'}, {'fname': 'Janie', 'lname': 'Wheeler', 'byear': 1962, 'bmonth': 9, 'bday': 25, 'creditapproval': 'No'}, {'fname': 'Jennie', 'lname': 'Hurley', 'byear': 1994, 'bmonth': 3, 'bday': 23, 'creditapproval': 'Yes'}, {'fname': 'Alden', 'lname': 'Pittman', 'byear': 1951, 'bmonth': 3, 'bday': 1, 'creditapproval': 'No'}, {'fname': 'Danielle', 'lname': 'Farrow', 'byear': 1986, 'bmonth': 4, 'bday': 20, 'creditapproval': 'No'}, {'fname': 'Paul', 'lname': 'Chen', 'byear': 1995, 'bmonth': 1, 'bday': 21, 'creditapproval': 'No'}, {'fname': 'Mary', 'lname': 'Schubert', 'byear': 1977, 'bmonth': 10, 'bday': 21, 'creditapproval': 'Yes'}, {'fname': 'Dalia', 'lname': 'Bello', 'byear': 1974, 'bmonth': 10, 'bday': 25, 'creditapproval': 'No'}, {'fname': 'Edward', 'lname': 'Hughes', 'byear': 1981, 'bmonth': 10, 'bday': 3, 'creditapproval': 'No'}]

In [ ]:
import json

with open('ourdb.json', 'w') as fp:
    json.dump(ourdb, fp)